<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="banner-tarifa">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <a href="./2-TarifasR" class="btn btn-primary">Registrar nueva Tarifa</a>
        </div>
        <table class="table table-dark table-hover center">
            <thead>
            <tr>
                <th>Espacio 01</th>
                <th>Espacio 02</th>
                <th>Espacio 03</th>
                <th>Espacio 04</th>
                <th>Espacio 05</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Dato01</td>
                <td>Dato02</td>
                <td>Dato03</td>
                <td>Dato04</td>
                <td>Dato05</td>

            </tr>
            <tr>
                <td>Dato01</td>
                <td>Dato02</td>
                <td>Dato03</td>
                <td>Dato04</td>
                <td>Dato05</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>