<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="banner-tarifa">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <a th:href="@{/tarifa/form}" class="btn btn-primary">Registrar nueva Tarifa</a>
        </div>
        <table class="table table-dark table-hover center">
            <thead>
            <tr>
                <th>Id</th>
                <th>nombre</th>
                <th>Descripcion</th>
                <th>precio</th>
                <th>Ciclo</th>
                <th>Tipo de Alumno</th>
                <th>editar</th>
                <th>eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tarifa: ${tarifas}">
                <td th:text="${tarifa.id}"></td>
                <td th:text="${tarifa.nombre}"></td>
                <td th:text="${tarifa.descripcion}"></td>
                <td th:text="${tarifa.precio}"></td>
                <td th:text="${tarifa.ciclo.ciclo}"></td>
                <td th:text="${tarifa.tipoAlumno.nombreTipo}"></td>
                <td><a class="btn btn-primary btn-sm"
                       th:href="@{/tarifa/form/} + ${tarifa.id}" th:text="'editar'"></a></td>
                <td><a class="btn btn-danger btn-sm"
                       th:href="@{/tarifa/eliminar/} + ${tarifa.id}" th:text="'eliminar'"
                       onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
            </tr>
            </tbody>
        </table>
        <nav th:replace="paginator-nav :: paginator"></nav>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>