<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="banner-carrera">
    <div class="container py-3">
        <div class="card-body text-white bg-dark">
            <div th:object="${carrera}" th:remove="tag">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <form th:action="@{/carrera/form}" th:object="${carrera}" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <label class="col-md-3 d-none d-md-block"></label>
                    <label for="carrera" class="col-md-2 col-form-label"
                           th:text="'Carrera'"></label>
                    <div class="col-md-5">
                        <input type="text" th:field="*{nombre}" class="form-control" id="nombre"
                               th:errorclass="'form-control is-invalid'"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 d-none d-md-block"></label>
                    <label for="carrera" class="col-md-2 col-form-label"
                           th:text="'Carrera'"></label>
                    <div class="col-md-5">
                        <input type="number" th:field="*{puntajePromedio}" class="form-control" id="nombre"
                               th:errorclass="'form-control is-invalid'"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('puntajePromedio')}" th:errors="*{puntajePromedio}"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 d-none d-md-block"></label>
                    <div class="col-4 ">
                        <input type="submit" value="Crear Carrera" class="btn btn-success"/>
                    </div>
					<label class="col-2 d-sm-block d-md-none "></label>
                    <div class="col-4 ">
                        <a th:href="@{/carrera/listar}">
                            <input value="Cancelar" class="btn btn-dark"/></a>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>