<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="banner-profesores">
    <div class="container py-3">

        <div class="card bg-dark" style="color:white;">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <div th:object="${matriculasimulacro}" th:remove="tag">
                    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                    </ul>
                </div>
                <form th:action="@{/matriculasimulacro/form}" th:object="${matriculasimulacro}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group row">
                    <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">Simulacro</label>
                            <select th:field="*{simulacro.id}" class="form-control"
                                    th:errorclass="'form-control alert-danger'" >
                                <div th:each="simulacro :${simulacros}">
                                    <option th:value="${simulacro.id}">
                                        [[${simulacro.nombre}]] , [[${simulacro.fecha}]]
                                    </option>
                                </div>
                            </select>
                            <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('simulacro')}" th:errors="*{simulacro}"></small>
                        </div>
                    
                        <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">Alumno</label>
                            <select th:field="*{matricula.id}" class="form-control"
                                    th:errorclass="'form-control alert-danger'" >
                                <div th:each="matricula :${matriculas}">
                                    <option th:value="${matricula.id}">
                                        [[${matricula.alumno.nombres}]] , [[${matricula.alumno.apellidos}]]
                                    </option>
                                </div>
                            </select>
                            <small
                                    class="form-text text-danger"
                                    th:if="${#fields.hasErrors('matricula')}" th:errors="*{matricula}"></small>
                        </div>
                        
                        <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">Preguntas Correctas</label>
                            <input type="number" th:field="*{pcorrecta}" class="form-control"
                                   th:errorclass="'form-control alert-danger'"/> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('pcorrecta')}" th:errors="*{pcorrecta}"></small>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">Preguntas InCorrectas</label>
                            <input type="number" th:field="*{pincorrecta}" class="form-control"
                                   th:errorclass="'form-control alert-danger'"/> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('pincorrecta')}" th:errors="*{pincorrecta}"></small>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">Nota</label>
                            <input type="number" th:field="*{nota}" class="form-control"
                                   th:errorclass="'form-control alert-danger'"/> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('nota')}" th:errors="*{nota}"></small>
                        </div>

                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-6 mb-5" style="text-align: center;">
                            <input id="aceptar" name="aceptar" type="submit" value="Agregar Nota"
                                   class="btn btn-success"/>
                        </div>
                        <div class="col-xs-12 col-lg-6 mb-5" style="text-align: center;">
                            <a th:href="@{/matricula/listar}">
                                <input value="Cancelar" class="btn btn-dark"/></a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>

</body>

</html>
