<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="banner-profesores">
    <div class="container py-3">
        <div class="card bg-dark" style="color:white;">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <div th:object="${profesor}" th:remove="tag">
                    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                    </ul>
                </div>
                <form th:action="@{/profesor/form}" th:object="${profesor}" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">NIF</label>
                            <input type="text" th:field="*{nif}" class="form-control"
                                   th:errorclass="'form-control alert-danger'"/> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"></small>
                        </div>

                        <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">Nombre</label>
                            <input type="text" th:field="*{nombre}" class="form-control"
                                   th:errorclass="'form-control alert-danger'"/> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                        </div>

                        <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">apellido</label>
                            <input type="text" th:field="*{apellido}" class="form-control"
                                   th:errorclass="'form-control alert-danger'"/> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">Foto</label>
                            <input type="file" name="file" class="form-control"/>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">telefono</label>
                            <input type="text" th:field="*{telefono}" class="form-control"
                                   th:errorclass="'form-control alert-danger'"/> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">email</label>
                            <input type="text" th:field="*{email}" class="form-control"
                                   th:errorclass="'form-control alert-danger'"/> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                        </div>

                        <div class="col-sm-6 col-lg-4 mb-5">
                            <label class="form-label">titulacion</label>
                            <input type="text" th:field="*{titulacion}" class="form-control"
                                   th:errorclass="'form-control alert-danger'"/> <small
                                class="form-text text-danger"
                                th:if="${#fields.hasErrors('titulacion')}" th:errors="*{titulacion}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12 col-lg-6 mb-5" style="text-align: center;">
                            <input type="submit" value="Crear Profesor" class="btn btn-success"/>
                        </div>
                        <div class="col-xs-12 col-lg-6 mb-5" style="text-align: center;">
                            <a th:href="@{/profesor/listar}">
                                <input value="Cancelar" class="btn btn-dark"/></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>