<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="banner-curso">
    <div class="container py-3">
        <div class="card-body text-white bg-dark">
            <div th:object="${curso}" th:remove="tag">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <form th:action="@{/curso/form}" th:object="${curso}" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="nivel" class="col-sm-2 col-form-label"
                           th:text="'nivel'"></label>
                    <div class="col-sm-6">
                        <input type="number" th:field="*{nivel}" class="form-control" id="nivel" th:errorclass="'form-control is-invalid'" />
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Etapa</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{etapa}" class="form-control"
                               th:errorclass="'form-control alert-danger'"/> <small
                            class="form-text text-danger"
                            th:if="${#fields.hasErrors('etapa')}" th:errors="*{etapa}"></small>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3" style="text-align: center;"></div>
                    <div class="col-sm-3" style="text-align: center;">
                        <input type="submit" value="Crear Curso" class="btn btn-success"/>
                    </div>
                    <div class="col-sm-3">
                        <a th:href="@{/curso/listar}">
                            <input value="Cancelar" class="btn btn-dark"/></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>