<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
	<meta charset="UTF-8">
	<title>Animated Website Header Design using HTML CSS</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
	<link th:href="@{/csss/style.css}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	
</head>
<body>
	<nav>
		<a  class="logo" href="./1-Aulas">Aulas</a>
		<a href="./2-Tarifas">Tarifas</a>
		<a href="./3-Profesores">Profesores</a>
		<a href="./4-Cursos">Cursos</a>
		<a  href="./admin">Team</a>
		<a href="./5-Alumnos">Alumnos</a>
		<a href="./6-Area">Areas</a>
		<a href="./7-Carreras">Carreras</a>
		<a href="./8-Usuarios">Usuarios</a>
	</nav>
	
	<div class="banner-aula">
	
	<div class="card text-white bg-dark mb-3">
	<p></p>
	  <div class="card-header">
		<a href="./1-Aulas" class="btn btn-primary">Volver a la Tabla Aulas</a>
	
		
	  </div>
	  
	  <div class="row g-3 align-items-center">
	  <div class="col-auto">
	    <label for="inputPassword6" class="col-form-label">Dato 01</label>
	  </div>
	  <div class="col-auto">
	    <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
	  </div>
	  <div class="col-auto">
	    <span id="passwordHelpInline" class="form-text">
	      Ingresa el dato 01
	    </span>
	  </div>
	</div>
	
	<p></p>
	
	<div class="row g-3 align-items-center">
	  <div class="col-auto">
	    <label for="inputPassword6" class="col-form-label">Dato 02</label>
	  </div>
	  <div class="col-auto">
	    <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
	  </div>
	  <div class="col-auto">
	    <span id="passwordHelpInline" class="form-text">
	      Ingresa el dato 02
	    </span>
	  </div>
	</div>
	
	<p></p>
	
	<div class="row g-3 align-items-center">
	  <div class="col-auto">
	    <label for="inputPassword6" class="col-form-label">Dato 03</label>
	  </div>
	  <div class="col-auto">
	    <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
	  </div>
	  <div class="col-auto">
	    <span id="passwordHelpInline" class="form-text">
	      Ingresa el dato 03
	    </span>
	  </div>
	</div>
	
	<p></p>
	
	<div class="row g-3 align-items-center">
	  <div class="col-auto">
	    <label for="inputPassword6" class="col-form-label">Dato 04</label>
	  </div>
	  <div class="col-auto">
	    <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
	  </div>
	  <div class="col-auto">
	    <span id="passwordHelpInline" class="form-text">
	      Ingresa el dato 04
	    </span>
	  </div>
	</div>
	
	<div class="card-header">
		
		<a href="#" class="btn btn-primary">Registración</a>
		
	  </div>

	
	
	</div>
	</div>
	
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>