<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="banner-admin">
    <a class="btn" th:href="@{/aula/listar}">GRUPO 08</a>
    <p></p>
    <a class="btn" th:href="@{/aula/listar}">👨🏻‍💻 Ataucuri Ynfante, Isaac Daniel.</a>
    <p></p>
    <a class="btn" th:href="@{/aula/listar}">👨🏻‍💻 Braúl Porras, Richard Robert.</a>
    <p></p>
    <a class="btn" th:href="@{/aula/listar}">👨🏻‍💻 Machuca Iparraguirre, Leodan.</a>
    <p></p>
    <a class="btn" th:href="@{/aula/listar}">👨🏻‍💻 Valdivia Ramos, Roberto Jose.</a>
    <p></p>
    <a class="btn" th:href="@{/aula/listar}">👨🏻‍💻 Villarroel Rodriguez, Leandro Nahuel.</a>
    <p></p>
    <a class="btn" th:href="@{/aula/listar}">Iniciemos</a>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>